# .envrc
if [ -n "$SCRIPT_LOADED" ]; then
 echo "Script ya se ha cargado, no se realizará ninguna acción."
 exit 0
fi

# Establece la variable de entorno para indicar que el script se ha cargado

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# Check if the required version is installed
if [ -z "$(nvm ls "$(< .nvmrc)" | grep 'N/A')" ]; then
  # Node version is installed
  nvm use
else
  # Node version not installed, install it
  nvm install
  nvm use
fi

if [ -f .env.development ]; then
    echo "Loading environment variables"
   export $(grep -v '^#' .env.development | xargs)
fi

export SCRIPT_LOADED=1
